name: CI
on:
  push:
    branches: [main]
    tags:
      - "*"
  pull_request:
    branches: [main]
permissions:
  contents: read
env:
  SHELL: /bin/bash
jobs:
  tools:
    name: TOOLS
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up tools
        uses: jdx/mise-action@v3
  lint:
    name: LINT
    needs: [tools]
    runs-on: ubuntu-24.04
    env:
      MIX_ENV: dev
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up tools
        uses: jdx/mise-action@v3
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: ${{ hashFiles('**/mise.toml') }}-${{ env.MIX_ENV }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ hashFiles('**/mise.toml') }}-${{ env.MIX_ENV }}-mix-
      - name: Install dependencies
        run: mix deps.get
      - name: Compile without warnings
        run: mix compile --warnings-as-errors
      - name: Check code format
        run: mix format --dry-run --check-formatted
      - name: Check unused deps
        run: mix deps.unlock --check-unused
      - name: Hex audit
        run: mix hex.audit
      - name: Deps audit
        run: mix deps.audit
      - name: Run credo
        run: mix credo
      - name: Run sobelow
        run: mix sobelow --config
  test:
    name: TEST
    needs: [tools]
    runs-on: ubuntu-24.04
    env:
      MIX_ENV: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up tools
        uses: jdx/mise-action@v3
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: ${{ hashFiles('**/mise.toml') }}-${{ env.MIX_ENV }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ hashFiles('**/mise.toml') }}-${{ env.MIX_ENV }}-mix-
      - name: Install dependencies
        run: mix deps.get
      - name: Run tests
        run: mix test --max-failures=1 --color
  build:
    name: BUILD
    needs: [lint, test]
    runs-on: ubuntu-24.04
    env:
      MIX_ENV: prod
      HEX_API_KEY: ${{secrets.HEX_API_KEY}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up tools
        uses: jdx/mise-action@v3
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: ${{ hashFiles('**/mise.toml') }}-${{ env.MIX_ENV }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ hashFiles('**/mise.toml') }}-${{ env.MIX_ENV }}-mix-
      - name: Install dependencies
        run: mix deps.get --only prod
      - name: Get branch name
        if: contains(github.ref, 'refs/tags/')
        uses: tj-actions/branch-names@v9
        id: branch-name
      - name: Set version
        if: contains(github.ref, 'refs/tags/')
        run: |
          sed -i 's/version: "[0-9]\.[0-9]\.[0-9]"/version: "${{ steps.branch-name.outputs.tag }}"/g' mix.exs
      - name: Build
        run: mix compile --warnings-as-errors
      - name: Publish
        if: contains(github.ref, 'refs/tags/')
        run: mix hex.publish --yes
